.container {
  display: none;
  position: relative;
  width: 40px;
  height: 0;
  display: flex;
  align-items: center;
  top: 30px;
  left: 90%;
  transition: all .75s;
  /* transition: transform .5s; */
  cursor: pointer;
}



.cross {
  position: absolute;
  width: 0;
  height: 15%;
  background: black;
  transition-duration: 1s;
  transition-property: transform width;
}

.active-cross {
  background: red;
}

@media screen and (max-width: 450px) {
  .container {
    left: 85%;
  }
}
